$colorGrey: #696969;
$colorGreyShadow: #828282;
$colorGreyLine: #c3c3c3;
$colorYellow: #EFCD43;
$colorHeader: #05717F;
$colorGreen: #75c04c;
$colorGreenPti: #006400;
$colorRed: #e85e5c;
$colorCyan: #5b9ed8;
$colorOrange: #ff9d59;
$colorWhite: #fff;
$colorIvory: #05717F;
