@import 'color';
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic");

header {
  height: 10%;
  width: 100%;
  background-color: $colorIvory;
}

.header-container {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container {
  margin-left: 2%; 
  height: 90%;
  width: 30%;
}

.logo {
  margin-top: 1%;
  height: 90%;
  cursor: pointer;
}

.searchBar-container {
  height: 40%;
  width: 25%;
  margin-right: 2%;
  margin-left: 2%;
}

.searchBar {
  float: left;
  outline: 0;
  height: 100%;
  width: 88%; 
  padding-left: 1.5%;
  color: #212121;
  border: 0;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  font-size: 1vw;
  margin-right: 0;
}

.searchButton {
  float: left;
  height: 100%;
  width: 10%;
  margin-left: 0;
  font: normal normal normal 1vw FontAwesome;
  outline: 0;
  background-color: $colorGreyShadow;
  text-align: center;
  border: 0;
  color: $colorWhite;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.searchButton:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.addReviewButton-container {
  height: 40%;
  width: 15%;
  margin-right: 15%;
}

.headerAddReviewButton {
  background-color: $colorGreen !important;
}

.loginArea-container {
  color: white;
  height: 40%;
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginArea-container:hover {
  color: $colorYellow;
  cursor: pointer;
  font-weight: bold;
}

.loginArea-container:hover .avatarDropdownMenu {
  font-weight: normal;
}

.link {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.notification-active {
  font-weight: bold;
}

.red-icon {
  color: red;
  font-size: 0.5vw;
  margin-left: 3%;
}

.loginButton-container {
  color: white;
  height: 40%;
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
}

.headerButton {
  background-color: $colorGreyShadow;
  height: 100%;
  margin: 0 15%;
  margin-right: 0;
  width: 75%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: $colorWhite;
  font-size: 1vw;
}

.headerButton:hover {
  background-color: $colorYellow !important;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.avatar-image {
  background: #eee;
  height: 100%;
  border-radius: 48px;
  display: block;
  justify-content: center;
}
.img-user-withNotification-container {
  height: 100%;
  width: 30%;
}
.nick {
  font-size: 1vw;
  width: 70%;
}

@-moz-document url-prefix() {
  .avatarDropdownMenu {
    margin-top: 20% !important;
  }
}

.avatarDropdownMenu {
  margin-top: 9%;
  margin-left: 0%;
  position: absolute;
  background-color: $colorWhite;
  min-width: 11%;
  overflow: auto;
  z-index: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  font-size: 1vw;
  border: solid 1px $colorGreyLine;
}

.avatarDropdownMenu a {
  text-align: center;
  color: $colorIvory;
  padding: 8% 8%;
  text-decoration: none;
  display: block;
  width: 100%;
}

.header-dropdown-line {
  display: flex;
  align-items: center;
}

.header-dropdown-icon {
  margin-right: 10%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
}

.header-dropdown-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************/

.avatarDropdownMenu a:hover {
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

/**************** NOTIFY SECTION ******************************/

span.img-user-withNotification {
  width: 100%;
  height: 100%;
  line-height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.img-user-withNotification mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid $colorWhite;
  width: 3px;
  height: 3px;
  background-color: #FF6B6B;
  position: absolute;
  top: -5px;
  left: -10px;
  font-size: 10px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $colorWhite;
  font-weight: 700;
}
span.img-user-withNotification mark.big {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  line-height: 30px;
  font-size: 16px;
  left: 60%;
}
span.img-user-withNotification > mark {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
-webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
span.img-user-withNotification:hover > mark {
  -webkit-animation-name: bounce;
          animation-name: bounce;
}
span.img-user-withNotification:hover > mark.swing {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: swing;
          animation-name: swing;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

/**************** NOTIFY SECTION  END ******************************/

.line {
  margin: 0;
  margin-left: 10%;
  width: 80%;
}
/*****************************************************/
@media screen and (max-width: 1000px) {
  .avatarDropdownMenu {
    margin-top: 10%;
    z-index: 5;
  }
}
@media screen and (max-width: 900px) {
  header {
    height: 9%;
  }
  .logo {
    margin-top: 2%;
    height: 85%;
  }
  .searchBar-container {
    margin-left: 3%;
  }
  .searchBar{
    width: 80%;
  }
  .searchButton{
    width: 15%;
  }
  .addReviewButton-container {
    margin-right: 10%;
    width: 20%;
  }

  .avatarDropdownMenu {
    margin-top: 11%;
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 8%;
  }
  .searchBar{
    width: 70%;
  }
  .searchButton{
    width: 20%;
  }
  .addReviewButton-container {
    width: 26%;
  }
  .avatarDropdownMenu {
    margin-top: 11%;
  }

}
@media screen and (max-width: 750px) {
  .nick {
    margin-left: 5%;
  }
}

@media screen and (max-width: 650px) {
    /******* sidebar section   ********/
  .mobile-sidebar {
    height: 800px;
    width: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    color: $colorGrey;
  }
  .mobile-sidebar-top {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .mobile-sidebar-close-button-container {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-sidebar-close-button-container:hover {
    background-color: red;
    color: white;
    text-shadow: 1.2px 1.2px $colorGrey;
  }
  .mobile-sidebar-line {
    padding-left: 10%;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .mobile-sidebar-user-line {
    padding-left: 5%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .mobile-sidebar-line:hover, .mobile-sidebar-user-line:hover {
    background-color: $colorYellow;
    color: white;
    text-shadow: 1.2px 1.2px $colorGrey;
  }
  .mobile-sidebar-line-icon {
    width: 10%;
  }
  .mobile-sidebar-avatar-container {
    width: 15%;
  }
  .mobile-sidebar-avatar {
    width: 100%;
    border-radius: 50%;
  }
  .mobile-sidebar-nickname {
    margin-left: 5%;
    font-size: 5vw;
  }
  .mobile-sidebar-line-text-bold {
    font-weight: bold;
  }
  .red-icon {
    margin-left: 3%;
    color: red;
    font-size: 2vw;
  }


  /******* header section   ********/
  .mobile-header-wrapper {
    height: 7%;
    width: 100%;
  }
  .mobile-header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $colorIvory;
  }
  .mobile-header-menu-button-container, .mobile-header-search-button-container, .mobile-header-exit-button-container, .mobile-header-find-button-container{
    height: 100%;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .mobile-header-menu-button-container:hover, .mobile-header-search-button-container:hover,
      .mobile-header-find-button-container:hover {
    background-color: $colorYellow;
    color: white;
    text-shadow: 1.2px 1.2px $colorGrey;
  }
  .mobile-header-exit-button-container:hover {
    background-color: red;
    color: white;
    text-shadow: 1.2px 1.2px $colorGrey;
  }
  .mobile-header-logo-container, .mobile-header-search-text-container-search {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-logo {
    height: 100%;
  }
  .mobile-search-bar {
    height: 80%;
    width: 100%;
    padding: 3%;
    border: 0;
    border: 1px solid $colorGreyShadow;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
}