#push {
  height: 250px;
  clear: both;
  text-align: center;
  display: flex;
  flex: left;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  height: 5%;
}

.footer-container {
  width: 100%;
  height: 10%;
  vertical-align: middle;
  text-align: center;
}

/*# sourceMappingURL=styleFooter.css.map */
