.infoBadges-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.infoBadges-title-container {
  font-weight: 300;
  font-size: 1.5vw;
  color: #696969;
  margin-bottom: 2%;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-badges-title {
  width: 10%;
}

.info-badges-user-info {
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.info-badges-user-info:hover {
  text-decoration: underline;
}

.info-badges-avatar-image-container {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-badges-avatar-image {
  width: 60%;
  border-radius: 50%;
}

.legend-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
}

.legend {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.badgeBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1% 0 0 0;
  padding: 0;
  width: 90%;
  height: 50%;
}

.badgeBoard-grade-container {
  width: 100%;
  height: 70%;
  align-items: center;
  border-radius: 5px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.badgeBoard-number {
  text-align: center;
  color: #696969;
  font-size: 0.7vw;
  font-weight: normal;
  width: 70%;
  height: 100%;
  z-index: 2;
}

.info-badge {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
}

.info-badge-board {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
  height: 100%;
}

.achievement-progress {
  align-self: flex-start;
  height: 100% !important;
  z-index: 1;
  position: absolute !important;
  top: 0;
  left: 0;
  border-radius: 5px !important;
}

.info-badge:hover {
  cursor: default;
}

.badge-img {
  width: 20%;
  display: flex;
  justify-content: center;
}

.badge-img img {
  width: 60%;
}

.badge-description {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.badge-description-text {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: #696969;
  font-size: 0.85vw;
}

.badge-description-pti {
  color: #006400;
  font-size: 0.8vw;
  font-weight: bold;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
}

.badge-line {
  margin: 0;
  margin-left: 10%;
  width: 80%;
}

@media screen and (max-width: 1500px) {
  .badgeBoard-grade-container {
    height: 60%;
  }

  .badge-description-text {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #696969;
    font-size: 1vw;
  }
}
@media screen and (max-width: 800px) {
  .infoBadges-title-container {
    font-size: 2vw;
  }
}
@media screen and (max-width: 650px) {
  .legend-container {
    width: 100%;
    justify-content: center;
  }

  .legend {
    width: 50%;
  }

  .infoBadges-title-container {
    margin-top: 5%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
  }

  .info-badge {
    height: 20%;
  }

  .infoBadges-title {
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .info-badges-user-info {
    height: 100%;
    width: 49%;
    margin-left: 1%;
  }

  .info-badge-board {
    width: 90%;
  }

  .info-badges-avatar-image-container {
    height: 100%;
    width: 12%;
  }

  .info-badges-avatar-image {
    width: 100%;
  }

  .info-badges-user-nickname {
    height: 100%;
    width: 60%;
    margin-left: 1%;
    align-items: center;
    display: flex;
  }

  .badge-img {
    width: 10%;
  }

  .badge-img img {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .badge-img {
    width: 15%;
  }

  .info-badge-board {
    width: 85%;
  }

  .badge-description-pti {
    width: 0;
    display: none;
  }

  .badge-description-text {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .info-badges-avatar-image-container {
    width: 15%;
  }

  .infoBadges-title-container {
    font-size: 4vw;
  }
}

/*# sourceMappingURL=styleInfoBadges.css.map */
