@import 'color';

.ranking {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $colorGrey;
}
.ranking-users-nav {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 1%;
  border-collapse: collapse;
  font-weight: 300;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.ranking-users {
  width: 80%;
  height: 30%;
  margin-bottom: 5%;
  margin-top: 1%;
  border-collapse: collapse;
  font-weight: 300;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.ranking-nav {
  margin-top: 10%;
  width: 100%;
}

.ranking-icon {
  font-family: FontAwesome;
  font-size: 0.8vw;
}

.ranking-users-nav .ranking-users-rowHead {
  width: 100%;
}

.ranking-users-nav .ranking-users-rowHead th {
  font-size: 1vw !important;
  vertical-align: middle;
  text-align: left !important;
  cursor: pointer;
  width: 100%;
  padding: 2%;
  padding-left: 3%;
}

.ranking-users-nav .ranking-users-rowHead th:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGrey;
}

.ranking-users-nav .ranking-users-row td {
  vertical-align: middle;
  padding: 2%;
  font-size: 0.8vw !important;
}

.ranking-users-nav .ranking-users-row {
  width: 100%;
  height: 9%;
}

.ranking-users-row-nav .ranking-users-row td {
  width: 100%;
  height: 100%;
}
.ranking-users-title-container {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ranking-users-title {
  width: 100%;
  font-weight: 300;
  font-size: 1.5vw;
  color: $colorGrey;
}
.ranking-users-rowHead {
  background-color: $colorIvory;
  width: 100%;
}
.ranking-users-rowHead th {
  font-size: 1.3vw;
  text-align: center;
  color: white;
  padding: 0.5%;
}

.ranking-users-row {
  cursor: pointer;
  color: black;
}

.ranking-users-row:hover {
  background-color: $colorYellow !important;
  color: white !important;
  text-shadow: 1.2px 1.2px $colorGrey !important;
}

.ranking-users-row td {
  font-size: 1vw;
  padding: 1%;
  font-weight: 400;
}
.ranking-nav th, .ranking-nav td {
  padding-left: 2%;
}
.ranking-position {
  width: 5%;
  text-align: center;
}
.ranking-nick {
  text-align: left !important;
  padding-left: 5% !important;
}

.ranking-points, .ranking-points-total {
  text-align: center;
}

.badge-classifiedUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.badge-classifiedUser img {
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .ranking-users-nav .ranking-users-rowHead th {
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  .ranking {
    align-items: center;
  }
  .ranking-users-title {
    font-size: 2vw;
    display: flex;
    justify-content: center;
  }
  .ranking-nav {
    display: none;
  }

}
@media screen and (max-width: 550px) {
  .ranking-users {
    width: 90%;
  }
  .ranking-users-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 460px) {
  .ranking-halfpti, .ranking-points {
    display: none;
  }
  .ranking-users {
    width: 80%;
  }
}
@media screen and (max-width: 350px) {
  .ranking-users-title {
    font-size: 4vw;
  }
}
