.main-body {
  height: 100%;
  padding: 1%;
  padding-left: 3%;
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 650px) {
  .main {
    flex-direction: column;
    margin-top: 0;
  }

  .main-body {
    width: 100%;
    height: 93%;
    justify-content: center;
  }
}

/*# sourceMappingURL=styleMain.css.map */
