@import 'color';

.body-not-found {
  height: 100%;
  width: 100%;
  background-color: $colorHeader;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notFound {
  width: 100%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound img {
  width: 40%;
}

.not-found-button-container {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-back-button {
  margin-top: 5%;
  padding: 0.5%;
  background-color: $colorGreen;
  color: $colorWhite;
  height: 100%;
  width: 12%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  font-size: 1.3vw;
  border: none;
}

.arrow-icon {
  font-family: FontAwesome;
}

.go-back-button:hover{
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

@media screen and (max-width: 900px) {
  .go-back-button {
    font-size: 2vw;
    width: 20%;
  }
}

@media screen and (max-width: 650px) {
  .notFound img {
    width: 70%;
  }

  .go-back-button {
    font-size: 3vw;
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  .notFound {
    margin-top: -40%;
  }
}
