nav {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.main-body {
  height: 100%;
  width: 85%;
}

.category-list {
  position: relative;
  width: 100%;
  height: 18%;
  z-index: 3;
}

.category-list li {
  display: block;
  width: 100%;
  height: 33%;
  color: #fff;
  list-style: none;
  padding: 2%;
  font-size: 1.1vw;
  filter: brightness(1);
}

.category-list li:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding-left: 5%;
  transition: 0.5s padding;
}

.category:hover {
  filter: brightness(1.1);
}

.category:hover .genre-list {
  display: block;
  top: 0;
}

.category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none !important;
  color: #fff !important;
}

.category-container a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.category-container a:hover {
  text-decoration: none;
  color: #fff;
}

.category-container a:visited {
  text-decoration: none;
  color: #fff;
}

.category-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.category-icon {
  margin: 2% 2% 0 1%;
}

.category-name {
  width: 80%;
}

.genre-list {
  position: absolute;
  left: 100.5%;
  display: none;
  top: -9999em;
  width: 100%;
  min-height: 100%;
}

.genre-list li {
  padding: 4.2%;
  height: 100%;
}

.genre-list li:hover {
  padding-left: 8%;
  background: #EFCD43;
  text-shadow: 1.2px 1.2px #828282;
}

.genre-list a {
  text-decoration: none;
  color: #fff;
}

.genre-list a:hover {
  text-decoration: none;
  color: #fff;
}

.genre-name {
  width: 100%;
}

.genre-line {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 80%;
  bottom: 0;
}

.material-icons {
  margin: 0;
  border-width: 0;
  transform: rotate(0deg);
  color: #fff;
}

@media screen and (max-width: 650px) {
  nav {
    width: 100%;
    height: 7%;
  }

  .category-list {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .category-list li {
    height: 100%;
  }

  .category-list li:hover {
    padding-left: 2%;
  }

  .category-icon {
    padding: 0;
  }

  .category-name {
    font-size: 2vw;
  }

  .category:hover .genre-list {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .category-icon {
    margin: auto;
  }

  .category-name {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .material-icons {
    font-size: 6vw !important;
  }
}

/*# sourceMappingURL=styleNav.css.map */
