@import 'color';

.log {
  text-align: center;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  width: 25%;
  /*altezza settata in file js*/
  margin-top: 5%;
  background-color: $colorWhite;
  border: 1px solid #cccccc;
}

.login-imgLocked-container {
  width: 100%;
  height: 30%;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-imgLocked-container img.avatar {
  width: 55%;
  height: auto;
}

.login-nickname-container, .login-password-container {
  width: 100%;
  height: auto;
}

input.nickname[type=text], input.password[type=password], input.mail[type=text] {
  width: 90%;
  height: auto;
  padding: 2%;
  margin-bottom: 1%;
  margin-left: 0%;
  display: inline-block;
  border: 0;
  border: 1px solid $colorGreyShadow;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.loginPassword {
  margin-bottom: 2.5%;
  width: 90%;
  height: auto;
  padding: 2%;
  margin-left: 0%;
  display: inline-block;
  border: 0;
  border: 1px solid $colorGreyShadow;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.field-icon {
  margin-left: -2%;
  margin-top: 0.7%;
  position: absolute;
  color: #696969;
  cursor: pointer;
}

.login-buttonLogin {
  background-color: $colorGreen;
  width: 90%;
  height: auto;
  margin-bottom: 2%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: $colorWhite;
  font-size: 1vw;
  padding: 2%;
  cursor: pointer;
}

.login-buttonLogin:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.login-buttonLogin[disabled] {
  pointer-events: none;
  opacity: 0.8;
}

.login-checkbox-container {
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-label-remember {
  text-align: left;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.login-remember-checkbox {
  margin-right: 5%;
}

.login-label-forgot {
  text-align: left;
  vertical-align: middle;
}

.login-box a {
  color: #3873e0;
}

.login-box a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #3873e0;
}

.login-box a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #3873e0;
}

.login-wrong-credentials {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: red;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.login-box-line {
  color: $colorGreyShadow;
  width: 90%;
}

.login-signin-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-signin-link {
  font-weight: 500;
  font-size: 1.1vw;
}
/**************** SIGN IN *****************/
.signin-nickname-container, .signin-sex-container, .signin-password-container, .signin-veryfypww-container, .signin-email-container {
  height: auto;
  width: 100%;
}
.signin-sex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 2% 2% 2%;
}
input[type=radio] {
    margin: 0 0 0;
}
.signin-sex-radio-container {
  display: flex;
  align-content: center;
  color: $colorGrey;
}
.signin-sex-radio-name-container {
  margin-left: 10%;
}
.signinPassword {
  width: 90%;
  height: auto;
  padding: 2%;
  margin-bottom: 1%;
  margin-left: 0%;
  display: inline-block;
  border: 0;
  border: 1px solid $colorGreyShadow;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/**************** FORGOT *****************/
.forgot-email-container {
  width: 100%;
  height: auto;
}

.forgotButton {
  background-color: $colorGreen;
  width: 90%;
  height: auto;
  margin-bottom: 2%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: $colorWhite;
  font-size: 1vw;
  padding: 2%;
  cursor: pointer;
}

.forgotButton:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.forgotButton[disabled] {
  pointer-events: none;
  opacity: 0.8;
}

.login-forgot-link {
  font-weight: 500;
  font-size: 1.1vw;
}

@media screen and (max-width: 1100px) {
  .login-checkbox-container {
    flex-direction: column;
  }
  .login-label-forgot {
    margin-top: 1%;
  }
}
@media screen and (max-width: 900px) {
  .login-box {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  .login-box {
    width: 40%;
  }
  .field-icon {
    margin-left: -3%;
    margin-top: 0.8%;
  }
}
@media screen and (max-width: 550px) {
  .login-box {
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .field-icon {
    margin-left: -4%;
    margin-top: 0.9%;
  }
}
@media screen and (max-width: 350px) {
  .login-box {
    width: 80%;
  }
  .field-icon {
    margin-left: -5%;
    margin-top: 1.5%;
  }
}
