@import 'color';

.cropper {
  height: auto !important;
  margin-bottom: 3%;
}
/************************ CROPPER WORK *****************************/
.cropper-work-label {
  cursor: pointer;
  background-color: $colorOrange;
  color: $colorWhite;
  padding: 1%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 2%;
}

.cropper-work-label:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.select-file-cropper-work {
  opacity: 0;
  position: absolute;
}

.cropper-work-selection-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
  padding: 2%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cropper-work-selection-button-container {
  width: 100%;
  height: 10%;
  text-align: center;
}

.cropperWorkSelected {
  margin-top: 5%;
}

.button-cropper-work {
  width: 20%;
  margin-top: 2%;
  padding: 1%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color:  $colorOrange;
  color: $colorWhite;
  border: 0;
}

.button-cropper-work:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}
/***************************************************************/

/************************ CROPPER USER *************************/
.cropper-user {
  height: auto !important;
  margin-bottom: 3%;
}
.cropper-label-user {
  cursor: pointer;
  font-size: 1vw;
  background-color: $colorOrange;
  color: $colorWhite;
  padding: 1%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 2% 0 1% 0;
}

.cropper-user-label:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.select-file-cropper-user {
  opacity: 0;
  position: absolute;
}

.cropper-user-selection-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
  padding: 2%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cropper-user-selection-button-container {
  width: 100%;
  height: 10%;
  text-align: center;
}

.cropperUserSelected {
  margin-top: 2%;
}

.button-cropper-user {
  width: 15%;
  font-size: 1vw;
  margin-top: 2%;
  padding: 1%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: $colorOrange;
  color: $colorWhite;
  border: 0;
}

.button-cropper-user:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}
/***************************************************************/
