.container-profile-user {
  width: 100%;
  height: 100%;
}

.wrapper-data-user {
  width: 80%;
  height: 25%;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-left: 10%;
}

.container-data-user {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-avatar-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.img-avatar-container-profile {
  cursor: pointer;
}

.user-img-avatar-profile {
  border-radius: 50%;
  width: 100%;
}

.overlay-profile-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: linear-gradient(0deg, #010101, rgba(200, 200, 200, 0));
  border-radius: 50%;
}

.img-avatar-container-profile:hover .overlay-profile-avatar {
  opacity: 0.5;
}

.img-avatar-container-profile:hover .user-img-avatar-profile {
  opacity: 0.8;
}

.icon-profile-avatar {
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: font-size 0.7s ease;
}

.icon-profile-avatar:hover {
  color: white;
}

.container-general-user {
  width: 80%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  align-items: center;
  justify-content: center;
}

.container-general-user-topRow {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container-user-nickname {
  font-size: 1.5vw;
  font-weight: 300;
  color: #696969;
  /* width: 30%; */
}

.container-profile-userBadges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
}

.inner-badges-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-badge-user {
  height: 100%;
  width: 11%;
}

.container-badge-user img {
  width: 100%;
}

.container-menu-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15%;
}

.container-menu-user-other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
}

/****************** EDIT INFO MENU ***********************/
.user-menu-buttons {
  padding: 5%;
  background-color: #696969;
  font-family: FontAwesome;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  font-size: 1.2vw;
  border: none;
  margin-right: 1%;
  margin-left: 1%;
  width: 50%;
  height: 100%;
}

.user-menu-buttons:hover {
  background-color: #EFCD43;
  text-shadow: 1.2px 1.2px #828282;
}

.user-menu-buttonLegend:hover {
  background-color: #EFCD43;
  text-shadow: 1.2px 1.2px #828282;
}

.activeDropdownMenuUser {
  margin-top: 1.9%;
  position: absolute;
  background-color: #fff;
  min-width: 12%;
  overflow: auto;
  z-index: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #c3c3c3;
  font-size: 1vw;
}

.dropdown-line-wrapper {
  text-align: center;
  color: #05717F;
  padding: 8% 8%;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown-line-wrapper:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #EFCD43;
  text-shadow: 1.2px 1.2px #828282;
}

.profile-dropdown-line {
  display: flex;
  align-items: center;
}

.profile-dropdown-icon {
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  margin-right: 10%;
  width: 10%;
}

.profile-dropdown-text {
  display: flex;
  align-items: center;
}

/*********************************************************/
/********************** ANALYSIS *************************/
.container-modal-analysis a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

/*********************************************************/
.container-general-user-bottomRow {
  color: #696969;
  /* padding-top: 3%; */
  width: 100%;
  height: 20%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-general-user-bottomRow span {
  font-weight: bold;
}

.wrapper-edit-profile {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.container-profile-modifyData {
  font-size: 1.5vw;
  background-color: #fff;
  padding: 1%;
  height: 40%;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 3% 0 1% 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.wrongEditProfile {
  margin: 2% 0 2% 0;
  color: red;
  font-size: 1vw;
  font-weight: 500;
  vertical-align: middle;
}

.container-profile-modifyData-title {
  height: 10%;
  font-size: 1.3vw;
  color: #696969;
  font-weight: 300;
}

.container-profile-modifyDataNickname {
  margin: 1% 0 0 0;
  font-size: 1vw;
  width: 60%;
  height: 10%;
  margin-bottom: 1%;
}

.container-profile-modifyDataOldPassword {
  margin: 1% 0 0 0;
  font-size: 1vw;
  width: 60%;
  height: 10%;
  margin-bottom: 1%;
}

.container-profile-modifyDataNewPassword {
  margin: 1% 0 0 0;
  font-size: 1vw;
  width: 60%;
  height: 10%;
  margin-bottom: 1%;
}

.editBar {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 1.5%;
  margin-left: 0%;
  display: inline-block;
  border: 0;
  border: 1px solid #828282;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.container-profile-modifyDataEmail {
  font-size: 1vw;
  height: 10%;
  width: 60%;
}

.container-buttonsModify {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1vw;
  justify-content: flex-end;
}

.edit-profile-button-wrapper {
  width: 12%;
  height: 100%;
  margin-right: 1%;
}

.buttonModify {
  background-color: #75c04c;
  color: #fff;
  margin: 1% 1% 1% 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 3%;
}

.buttonCloseModify {
  background-color: #e85e5c;
  color: #fff;
  margin: 1% 0 1% 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 3%;
}

.user-reviews-section {
  width: 90%;
}

.profile-user-notReviews {
  display: flex;
  flex-direction: column;
}

.notReviews-title {
  height: 100%;
  width: 100%;
  margin: 5px;
  font-weight: 300;
  font-size: 1.1vw;
  color: #696969;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .user-reviews-section {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .container-user-nickname, .container-statistics-points, .container-statistics-numReviews, .container-statistics-avg {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 850px) {
  .edit-profile-button-wrapper {
    width: 14%;
  }

  .activeDropdownMenuUser {
    margin-top: 1.8%;
  }
}
@media screen and (max-width: 750px) {
  .container-user-nickname, .container-statistics-points, .container-statistics-numReviews, .container-statistics-avg {
    font-size: 1.8vw;
  }

  .edit-profile-button-wrapper {
    width: 16%;
  }

  .activeDropdownMenuUser {
    margin-top: 2%;
  }
}
@media screen and (max-width: 650px) {
  .activeDropdownMenuUser {
    margin-top: 2.7%;
  }

  .container-data-user {
    margin-left: 5%;
    width: 90%;
    flex-direction: column;
  }

  .wrapper-data-user {
    width: 100%;
    margin-left: 0;
  }

  .user-img-avatar-profile {
    width: 75%;
  }

  .container-general-user {
    width: 100%;
  }

  .container-user-nickname, .container-statistics-points, .container-statistics-numReviews, .container-statistics-avg {
    font-size: 2.5vw;
  }

  .container-profile-userBadges {
    font-size: 2.5vw;
  }

  .container-general-user-bottomRow {
    padding-top: 4%;
  }

  .container-profile-modifyData {
    width: 80%;
  }

  .notReviews-title {
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
  }

  .profile-card-section-title {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .container-user-nickname, .container-statistics-points, .container-statistics-numReviews, .container-statistics-avg {
    font-size: 3vw;
  }

  .container-profile-modifyData {
    width: 95%;
  }

  .activeDropdownMenuUser {
    margin-top: 3%;
  }

  .notReviews-title {
    font-size: 3vw;
  }
}
@media screen and (max-width: 350px) {
  .container-user-nickname, .container-statistics-points, .container-statistics-numReviews, .container-statistics-avg {
    font-size: 4vw;
  }

  .container-profile-modifyDataNickname, .container-profile-modifyDataEmail, .container-profile-modifyDataOldPassword, .container-profile-modifyDataNewPassword {
    width: 80%;
  }

  .edit-profile-button-wrapper {
    width: 20%;
  }

  .activeDropdownMenuUser {
    margin-top: 3.5%;
  }
}

/*# sourceMappingURL=styleProfile.css.map */
