@import 'color';

.cards-container {
  height: 120%;
  width: 1050px;
}

.card-section-container {
  width: 100%;
  margin-bottom: 2%;
}

.card-section-title-container {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-section-title {
  height: 100%;
  width: 100%;
  margin: 5px;
  font-weight: 300;
  font-size: 1.5vw;
  color: $colorGrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-section-container a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $colorWhite;
}

.card-section-button-container {
  margin-right: 5px;
  height: 100%;
  width: 15%;
}

.card-section-button {
  background-color: $colorGreyShadow;
  height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: $colorWhite;
  font-size: 1vw;
}

.card-section-button:hover {
  background-color: $colorYellow;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

.card {
  display: inline-block;
  width: 200px;
  height: 424px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 300;
  color: $colorGrey;
  font-size: 1vw;
  cursor: default;
  background-color: $colorWhite;
  z-index: 1;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-review-title a, .card-work-title a, .card-user a, .card-review-title a:visited, .card-user a:visited {
	width: 100%;
	height: 100%;
	color: $colorGrey;
	text-decoration: none;
}

.card-review-title a:hover {
	color: $colorGrey;
	text-decoration: underline;
	cursor: pointer;
}

.card-container {
	width: 100%;
	height: 100%;
}

.card-image-container {
	width: 100%;
  height: 65%;
  background: #000;

  background: -moz-linear-gradient(-45deg, #000 0%, #000 25%, #d4d2c5 50%, #242216 75%, #000 100%);
  /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, #000 0%, #000 25%, #d4d2c5 50%, #242216 75%, #000 100%);
  /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #000 0%, #000 25%, #d4d2c5 50%, #242216 75%, #000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   background-size: 350% 350%;
   background-repeat: no-repeat;
	 position: relative;
	 cursor: pointer;
   transition: 0.5s all;
}

.card-image {
	width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  z-index: 1;
  opacity: 1;
  mix-blend-mode: screen;
}

.card-image-container:hover {
  background-position: 100% 100%;
}

.card:hover .card-image-container {
  background-position: 100% 100%;
}

.card-work-title, .card-review-title, .card-rating, .card-user {
	padding-left: 5%;
}

.card-review-title {
	font-size: 1.3vw;
	padding-top: 1.5%;
	height: 8%;
}

.card-work-title {
	color: $colorGrey;
	padding-top: 1.5%;
	height: 7%;
}

.card-work-title a:hover {
	color: $colorGrey;
	text-decoration: underline;
	cursor: pointer;
}

.card-user {
	height: 8%;
}

.card-user a {
	height: 100%;
}

.card-user-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-left: 1%;
}

.card-user-container:hover {
	text-decoration: underline;
}

.card-user-avatar {
	height: 100%;
	flex-grow: 0.05;
	display: flex;
	align-items: center;
}

.card-user-avatar:hover {
	cursor: pointer;
}

.card-user-avatar img {
	height: 80%;
	border-radius: 50px;
}

.card-user-nickname {
	height: 100%;
	display: flex;
	align-items: center;
}

.card-user-nickname:hover {
	text-decoration: underline;
	cursor: pointer;
}

.card-rating {
	padding-top: 1.5%;
	padding-left: 6%;
	height: 10%;
	display: flex;
  align-items: center;
}

.rating-value {
	flex-grow: 0.3;
}

.ratings {
  	flex-grow: 0;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
}

.empty-stars:before, .full-stars:before {
   content: "\f005\f005\f005\f005\f005";
   font-size: 1vw;
   font-family: FontAwesome;
}

.empty-stars:before {
    color: #ddd;
}

.full-stars:before {
    color: #FFD700;
}

@media screen and (max-width: 1500px) {
  .cards-container {
    width: 900px;
  }
  .card {
    width: 170px;
    height: 360px;
  }
}

@media screen and (max-width: 1400px) {
  .cards-container {
    width: 720px;
  }
}

@media screen and (max-width: 1100px) {
  .cards-container {
    width: 640px;
  }
  .card {
    width: 150px;
    height: 318px;
  }
}

@media screen and (max-width: 1000px) {
  .cards-container {
    width: 600px;
  }
  .card {
    width: 140px;
    height: 296px;
  }
}

@media screen and (max-width: 900px) {
  .cards-container {
    width: 560px;
  }
  .card {
    width: 130px;
    height: 275px;
  }
}

@media screen and (max-width: 800px) {
  .cards-container {
    width: 520px;
  }
  .card {
    width: 120px;
    height: 254px;
  }
}

@media screen and (max-width: 700px) {
  .cards-container {
    width: 480px;
  }
  .card {
    width: 110px;
    height: 233px;
  }
}

@media screen and (max-width: 650px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
  }

  .card-section-container {
    text-align: center;
  }

  .card-section-title-container {
    text-align: left;
    height: auto;
  }

  .card-section-title {
    vertical-align: middle;
  }

  .card-section-button-container {
    width: 25%;
    height: 80%;
  }

  .card-section-button {
    font-size: 2vw;
    margin: auto;
  }

  .card-section-title {
    font-size: 2.3vw;
  }

  .card {
    width: 140px;
    height: 296px;
    font-size: 2vw;
  }

  .card-review-title {
    font-size: 2.3vw;
  }

  .card-user {
    padding-top: 1.5%;
    padding-left: 18%;
  }

  .empty-stars:before, .full-stars:before {
    font-size: 2vw;
  }
}

@media screen and (max-width: 550px) {
  .cards-container {
    width: 420px;
  }

  .card {
    width: 130px;
    height: 275px;
  }
}

@media screen and (max-width: 500px) {
  .cards-container {
    width: 280px;
  }

  .card-section-title {
    font-size: 3vw;
  }

  .card-section-button-container {
    width: 40%;
    height: 90%;
  }

  .card-section-button {
    font-size: 3vw;
  }

  .card, .empty-stars:before, .full-stars:before{
    font-size: 2.5vw;
  }

  .card-review-title {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 350px) {
  .card, .empty-stars:before, .full-stars:before{
    font-size: 3vw;
  }

  .card-review-title {
    font-size: 3.3vw;
  }
}

@media screen and (max-width: 300px) {
  .cards-container {
    width: 260px;
  }
  .card {
    width: 120px;
    height: 254px;
  }
}
