@import 'color';

.notifications-container {
  width: 100%;
}

.notification-section-container {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.notification-section-title-container {
  width: 100%;
}

.notification-section-title {
  height: 10%;
  width: 100%;
  margin-bottom: 1%;
  font-weight: 300;
  font-size: 1.5vw;
  color: $colorGrey;
}
.notifications-SeenNotSeen {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 90%;
}
.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.notification:hover {
  background-color: $colorYellow;
}

.notification:hover .notification-description-container {
  color: white;
  text-shadow: 1.2px 1.2px $colorGrey;
}

.notification:hover .container-buttonJustRead {
  color: white;
  text-shadow: 1.2px 1.2px $colorGrey;
}

.notification-imgBadge-container {
  width: 5%;
  border-right: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-imgBadge-container img {
  width: 80%;
}
.notification-description-container {
  margin-left: 1%;
	width: 89%;
  padding: 1%;
  font-weight: 300;
  color: $colorGrey;
  font-size: 1vw;
  text-align: justify;
}

.container-buttonJustRead {
  width: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorGrey;
}

.buttonJustRead {
  width: 100%;
  background-color: inherit;
  padding: 5%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  font-size: 1vw;
}

.buttonJustRead:hover {
  color: green;
  text-shadow: 1.2px 1.2px $colorGreyShadow;
}

@media screen and (max-width: 900px) {
  .notification-section-title {
    font-size: 2vw;
  }

  .notification-imgBadge-container {
    width: 15%;
  }
  .buttonJustRead {
    width: 10%;
  }
  .notification-description-container {
    width: 74%;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 650px) {
  .notification-section-title {
    font-size: 3vw;
  }
  .notifications-SeenNotSeen {
    width: 100%;
    align-items: center;
  }
  .notification {
    width: 80%;
  }
  .notification-description-container {
    font-size: 2vw;
  }
}

@media screen and (max-width: 450px) {
  .notification-section-title {
    font-size: 3.5vw;
  }
  .notification-imgBadge-container {
    width: 15%;
  }
  .notification-description-container {
    width: 72%;
    font-size: 2.5vw;
  }
  .container-buttonJustRead {
    width: 12%;
  }
}

@media screen and (max-width: 300px) {
  .notification-section-title {
    font-size: 4vw;
  }
  .notification-imgBadge-container {
    display: none;
  }
  .notification-description-container {
    width: 80%;
    font-size: 3vw;
  }
  .container-buttonJustRead {
    width: 20%;
  }
}
