.add {
  width: 100%;
  height: 100%;
}

.addingReview {
  height: auto;
  width: 100%;
}

.form-adding-container {
  height: auto;
  width: auto;
}

.form-adding-container h2 {
  margin-bottom: 1%;
  width: 100%;
  font-weight: 300;
  font-size: 1.5vw;
  color: #696969;
  text-align: left;
}

.insertBar {
  width: 30%;
  margin: 1% 0 1% 0;
  padding: 0.5%;
  margin-bottom: 1%;
  margin-left: 0%;
  display: inline-block;
  border: 0;
  border: 1px solid #828282;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.works-suggested {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  color: #696969;
}

.works-suggested h4 {
  color: #696969;
  font-size: 1.2vw;
}

#titleSuggestedWorks {
  margin-bottom: 1%;
}

#orCreateNewWork {
  margin-top: 1%;
}

.work-suggested label {
  margin: 0;
  padding: 0.5%;
  color: #828282;
}

.work-suggested label:hover {
  color: #EFCD43;
  cursor: pointer;
  text-shadow: 1.2px 1.2px;
  font-size: 1.02vw;
}

.new-work-container {
  margin: 0;
  width: 70%;
  height: 100%;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #fff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  display: flex;
  justify-content: center;
}

.new-work {
  width: 80%;
  height: 100%;
  background-color: #fff;
  border: solid 3px #ff9d59;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.new-work h4 {
  color: #696969;
  font-size: 1.1vw;
  font-weight: 300;
}

.new-work-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workAlreadyExists {
  margin-bottom: 2%;
  color: red;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

select:required:invalid {
  color: gray;
}

select, option {
  color: black;
}

[type=date] {
  background: #fff url(https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-alt-16.png) 97% 50% no-repeat;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: gray;
}

.select-category, .select-genre, .insert-title-work, .insert-author-work, .insert-date-work, .insert-img-work, .new-work-buttons-container {
  height: 15%;
  width: 90%;
}

.new-work-buttons-container {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}

.insertBarWork {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  display: inline-block;
  border: 0;
  border: 1px solid #828282;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.new-review-container {
  width: 60%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.new-review-container h4 {
  color: #696969;
  font-size: 1.1vw;
  font-weight: 300;
}

#new-review-line {
  color: #696969;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

.addReview-wrongData {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  color: red;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
}

.new-review {
  width: 100%;
  height: 100%;
  margin: 1% 0 1% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-review-content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-work-container {
  width: 20%;
  height: 100%;
  margin-right: 0.5%;
}

.new-review-work-img {
  width: 99%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.text-review-container {
  width: 80%;
  height: 100%;
}

.new-review-title-bar {
  width: 100% !important;
  height: 20%;
  margin: 0;
}

.new-review-text-area {
  width: 100%;
  height: 80%;
  margin: 1% 0 0% 0;
  padding: 0.5%;
  resize: none;
  margin-left: 0%;
  border: 0;
  border: 1px solid #828282;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.new-review-buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 20%;
}

.button-cancel-new-review {
  padding: 1% !important;
  height: 100%;
  width: 18% !important;
  margin-left: 1% !important;
}

.button-new-work {
  background-color: #75c04c;
  color: #fff;
  height: 100%;
  margin: 1% 0 1% 0;
  padding: 0.6%;
  width: 18%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}

.button-cancel-add {
  padding: 0.5%;
  background-color: #e85e5c;
  color: #fff;
  height: 100%;
  margin: 1% 0 1% 0;
  width: 8%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}

.button-reset {
  background-color: #5b9ed8;
  color: #fff;
  padding: 1%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  height: 100%;
  width: 25%;
  margin-left: 10%;
  margin: 1% 0 0 0;
}

.button-submit-review {
  background-color: #75c04c;
  color: #fff;
  height: auto;
  margin: 1% 0 1% 0;
  padding: 1%;
  width: 25%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}

.button-submit-work {
  background-color: #75c04c;
  color: #fff;
  height: 100%;
  margin: 1% 0 0 0;
  padding: 1%;
  width: 15%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  margin-right: 1%;
}

.button-new-work:hover, .button-cancel-add:hover, .button-reset:hover, .button-submit-review:hover, .button-submit-work:hover {
  background-color: #EFCD43;
  text-shadow: 1.2px 1.2px #828282;
}

@media screen and (max-width: 1600px) {
  .new-review-work-img {
    width: 97%;
  }

  .new-review-container h4 {
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 1175px) {
  .new-review-work-img {
    width: 98%;
  }
}
@media screen and (max-width: 1080px) {
  .new-review-work-img {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .new-review-work-img {
    width: 95%;
  }

  .new-review-container {
    width: 70%;
  }
}
@media screen and (max-width: 950px) {
  .button-submit-review {
    width: 27%;
  }

  .button-reset {
    width: 30%;
  }

  .button-new-work {
    width: 20%;
  }

  .new-review-title-bar, .new-review-text-area {
    font-size: 1.2vw;
  }

  .new-review-container h4 {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 850px) {
  .form-adding-container h2 {
    font-size: 2vw;
  }

  .works-suggested h4 {
    font-size: 1.5vw;
  }

  .new-work h4 {
    font-size: 1.3vw;
  }

  .button-submit-review {
    width: 30%;
  }

  .button-reset {
    width: 30%;
  }

  .button-new-work {
    width: 22%;
  }

  .new-review-container {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  .button-submit-review {
    width: 35%;
  }

  .button-new-work {
    width: 25%;
  }

  .button-reset {
    width: 35%;
  }

  .new-review-container {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .form-adding-container h2 {
    font-size: 2.5vw;
  }

  .works-suggested h4 {
    font-size: 2vw;
  }

  .new-work-container {
    margin-left: 15%;
  }

  .new-work h4 {
    font-size: 1.5vw;
  }

  .new-review-container {
    margin-left: 5%;
  }

  .new-review-container h4 {
    font-size: 2vw;
  }

  .button-cancel-add, .button-submit-work {
    width: 12%;
  }

  .button-new-work {
    width: 25%;
  }

  .new-review-title-bar, .new-review-text-area {
    font-size: 2.5vw;
  }

  .text-review-container {
    width: 72%;
  }

  .img-work-container {
    width: 28%;
  }
}
@media screen and (max-width: 550px) {
  .insertBar {
    width: 35%;
  }

  .button-new-work {
    width: 30%;
  }

  .new-work-container {
    width: 80%;
    margin-left: 10%;
  }

  .button-submit-work {
    width: 20%;
  }

  .button-reset {
    width: 40%;
  }

  .button-cancel-new-review {
    width: 20% !important;
  }

  .new-review-container h4 {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  .form-adding-container h2 {
    font-size: 3vw;
  }

  .works-suggested h4 {
    font-size: 2.5vw;
  }

  .new-work h4 {
    font-size: 2vw;
  }

  .new-review-container h4 {
    font-size: 3vw;
  }

  .button-new-work {
    width: 35%;
  }

  .new-work {
    width: 80%;
  }

  .button-cancel-new-review {
    width: 25% !important;
  }

  .insertBar {
    width: 45%;
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .form-adding-container h2 {
    font-size: 4vw;
  }

  .text-review-container {
    width: 65%;
  }

  .new-review-container {
    width: 95%;
    margin-left: 2.5%;
  }

  .img-work-container {
    width: 35%;
  }

  .new-review-title-bar, .new-review-text-area {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 400px) {
  .button-cancel-add, .button-submit-work {
    width: 18%;
  }

  .new-work-container {
    width: 90%;
    margin-left: 5%;
  }

  .button-new-work {
    width: 40%;
  }

  .button-cancel-new-review {
    width: 30% !important;
  }

  .new-review-container h4 {
    font-size: 3.5vw;
  }

  .new-work {
    width: 90%;
  }
}
@media screen and (max-width: 350px) {
  .new-review-container {
    width: 100%;
    margin-left: 0;
  }
}

/*# sourceMappingURL=styleAddReview.css.map */
