@charset "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#review-view-line {
  color: #696969;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

.review-container {
  width: 80%;
  height: 100%;
}

.review-view-container {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-bottom: 7%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.review-view-title-container {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-view-container h2 {
  font-weight: 300;
  font-size: 1.4vw;
  color: #696969;
}

.container-review-buttonRemove {
  width: 50%;
}

.review-buttonRemove {
  background-color: #e85e5c;
  color: #fff;
  height: 100%;
  margin: 0 0 0 5%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 1%;
}

.review-buttonRemove:hover {
  text-shadow: 1.2px 1.2px #828282;
  background-color: #EFCD43;
}

.review-view {
  width: 100%;
  height: 70%;
  margin: 1% 0 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.review-img-work-container {
  width: 20%;
  height: 80%;
  margin: 0 2% 0 0;
}

.review-img-work-container img {
  padding-top: 1%;
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.text-review-view-container {
  width: 45%;
  height: 80%;
  margin: 0 2% 0 0;
  padding: 1%;
  border-left: solid 1px #c3c3c3;
}

.text-review-view-container label.review-title {
  font-size: 1.3vw;
  margin-bottom: 1%;
  font-weight: 300;
  color: #696969;
}

.review-view-userData {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  cursor: pointer;
}

.review-view-userData img {
  border-radius: 50px;
  width: 10%;
  margin-right: 1%;
}

.text-review-view-container label.review-userNickname {
  font-size: 1vw;
  font-weight: 300;
  color: #696969;
  cursor: pointer;
}

.text-review-view-container label.review-reviewText {
  font-size: 1vw;
  margin-bottom: 1%;
  font-weight: 300;
  color: #696969;
  text-align: justify;
}

.review-evaluation-container {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-left: solid 1px #c3c3c3;
}

.review-evaluation-title {
  width: 100%;
  margin-left: 5%;
}

.review-evaluation-title h2 {
  font-size: 1.3vw !important;
}

.review-evaluation-area {
  width: 100%;
  align-items: center;
  margin-top: 3.5%;
}

.valutation-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/***** STARS CSS *******/
fieldset, label {
  margin: 0;
  padding: 0;
}

.rating {
  border: none;
}

h4 {
  font-size: 1.2vw;
  font-weight: 300;
  color: #696969;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating > .half:before {
  content: "";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
  cursor: pointer;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
  cursor: pointer;
}

/***** STARS CSS END *******/
.review-global-grade {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-actual-grade {
  font-size: 2vw;
  font-weight: 300;
  color: #696969;
  width: 25%;
  margin-left: 5%;
}

.review-grades-container {
  width: 75%;
}

.quote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1% 0 1% 5%;
  padding: 0;
  width: 90%;
}

.quote-number {
  width: 20%;
  font-size: 0.9vw;
  text-align: center;
}

.quote-grade-container {
  margin-left: 0%;
  width: 80%;
  border-radius: 50px;
  background-color: #eee;
}

.quote {
  height: 3px;
  border-radius: 50px;
}

.five-stars {
  background-color: #1FD813;
}

.four-half-stars {
  background-color: #57E32C;
}

.four-stars {
  background-color: #B7DD29;
}

.three-half-stars {
  background-color: #FFE234;
}

.three-stars {
  background-color: #FFE945;
}

.two-half-stars {
  background-color: #FFA534;
}

.two-stars {
  background-color: #FF8B26;
}

.one-half-star {
  background-color: #FF5F3D;
}

.one-star {
  background-color: #FF4545;
}

.half-star {
  background-color: #CA423C;
}

@media screen and (max-width: 850px) {
  .review-view-container {
    width: 100%;
  }

  .review-img-work-container {
    width: 25%;
  }

  .text-review-view-container {
    width: 40%;
  }
}
@media screen and (max-width: 802px) {
  .review-grades-container {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .review-img-work-container {
    width: 28%;
  }

  .text-review-view-container {
    width: 37%;
  }
}
@media screen and (max-width: 650px) {
  .review-view-container {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
  }

  .text-review-view-container {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .review-view-title-container {
    justify-content: center;
    height: 5%;
  }

  label.review-title {
    font-size: 1.5vw !important;
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }

  .review-view-title-container h2 {
    font-size: 2vw;
  }

  .review-view {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .review-reviewText {
    font-size: 1.3vw !important;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .review-view-userData {
    justify-content: center;
  }

  .review-img-work-container {
    width: 25%;
    height: 30%;
  }

  .review-img-work-container img {
    width: 100%;
    height: 100%;
  }

  .text-review-view-container {
    width: 100%;
    height: 30%;
    border-left: 0;
    border-bottom: solid 1px #c3c3c3;
  }

  .review-evaluation-container {
    width: 90%;
    height: 40%;
    border-left: 0;
  }

  .review-evaluation-title {
    height: 10%;
  }

  .review-evaluation-title h2 {
    font-size: 1.5vw !important;
  }

  .review-evaluation-area {
    height: 90%;
  }

  .review-global-grade {
    height: 100%;
  }

  .review-actual-grade {
    height: 15%;
    width: 20%;
    font-size: 4vw;
    margin-left: 0;
  }

  .review-grades-container {
    width: 80%;
    height: 100%;
  }

  .review-card-section-title {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .review-evaluation-area {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}

/*# sourceMappingURL=styleReview.css.map */
