.graphics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  align-items: center;
}
.modal-content {
  font-family: Roboto !important;
}
.alert-body {
  color: #696969; 
  padding-top: 5%;
  padding-bottom: 5%;
}
.alert-body p {
  font-size: 1vw;
}
.title-chart {
  font-size: 1.3vw;
  color: #696969;
  text-align: center;
  margin: 0 0 5% 5%;
}
.apexcharts-legend.position-right {
  text-align: left;
}
path.#SvgjsPath2479 {
  fill: rgb(91,157,216) !important;
}
path.#SvgjsPath2453 {
  fill: rgb(232,95,92) !important;
}
path.#SvgjsPath2466 {
  fill: rgb(117,192,76) !important;
}
.profile-closeButtonMenù, .profile-loginButtonMenù {
  height: 100%;
  margin: 0 15% 0 0;
  margin-right: 0;
  width: 20%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: #FFF;
  font-size: 1vw;
  padding: 1%;
}
.profile-closeButtonMenù {
  background-color: #e85e5c;
}
.profile-loginButtonMenù {
  background-color: #75c04c;
}
.profile-closeButtonMenù:hover, .profile-loginButtonMenù:hover {
  background-color: #EFCD43;
  text-shadow: 1.2px 1.2px #696969;
}
@media screen and (max-width: 800px) {
  .modal-dialog {
    width: 500px !important;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .modal-dialog {
    width: 370px !important;
    align-items: center;
  }
}
