
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
	height: 100%;
  min-height: 100%;
	width: 100%;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #fafafa; 
}

#link {
  width: 100%;
	height: 100%;
}

.body {
  width: 100%;
  height: 100%;
  position: relative;
}

main {
	height: 100%;
	width: 100%;
}

.main {
	margin-top: 0.1%;
	height: 100%;
	width: 100%;
	font-size: 1vw !important;
	display: flex;
}
